div.main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 90%;
}

.card {
  flex: 1 1 auto;

  margin: 5px;
}

mat-card-content {
  align-content: center;
}

img {
  width: 40px;
  height: auto;
}

.selected {
  border: 2px dotted red;
}
.disabled{
   opacity: 0.5;
}
