.flex-row{
  display: flex;
  flex-flow: row;
}
.left{
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 85%;
}
.right{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15%;
}
input.color{
  max-width: 100px;
}
