mat-card{
}
.flex-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
rich-editor{
  flex: 1 1 auto;
  min-width: 97%;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  overflow-x: scroll;
  overflow-scrolling: auto;
  display: flex;
}
.column {
  flex: 1 0 auto ;
}
.box .row.footer {
  flex: 0 1 40px;
}
