<!-- Obviously, you could use HTML5 tags like `header`, `footer` and `section` -->
<mat-card>
  <mat-card-title class="row header">
    Minecraft command generator
  </mat-card-title>
  <mat-card-subtitle class="row header">
    to give something extraordinary in creative<br/>
    generated command is copied in the clipboard automatically
  </mat-card-subtitle>
  <mat-card-content class="row content">
    <p class="column">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Custom Name
            </mat-panel-title>
          </mat-expansion-panel-header>
          <rich-editor name="displayed name" (textChanged)="command.setDisplay($event)"></rich-editor>
          <rich-editor name="lore" (textChanged)="command.setLore($event)"></rich-editor>
        </mat-expansion-panel>
        <things-list #toolsList
                     [things]="tools"
                     title="Choose a tool"
                     (selectedThing)="setTool($event,materialsList,enchantsList,command)"></things-list>
        <things-list #materialsList
                     [things]="materials"
                     title="Choose a material"
                     (selectedThing)="command.setMaterial($event)"></things-list>
        <things-list #enchantsList
                     [things]="enchants"
                     [multi]="true" title="Choose an enchant"
                     (selectedThing)="command.setEnchants($event)"></things-list>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Extras</mat-panel-title>
          </mat-expansion-panel-header>
          <label>Unbreakable</label>
          <mat-slide-toggle (change)="command.setUnbreakable($event.checked)"></mat-slide-toggle>
        </mat-expansion-panel>
      </mat-accordion>
      <command #command></command>
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a matTooltip="Want to see how it is done?" href="https://github.com/j-pingus/mcgen-commands.git" target="_blank">
      <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
      <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
    </svg></a>
  </mat-card-actions>
</mat-card>
